.gallerySection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0 6rem 0;
}

.galleryHeading {
    font-size: 1.802rem;
    width: 90%;
    text-align: center;
    text-wrap: balance;
}

.galleryImageRow{
    width: 70%;
    column-count: 1;
    column-gap: 1rem;
    padding: 2rem 0;
}

.galleryImageBlock {
    break-inside: avoid;
    margin-bottom: 2rem;
}

.galleryImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
    background: #ffffff;
    padding: 1rem;
}

@media (min-width:400px) {
    .galleryImageRow{
        column-count: 2;
    }
}

@media (min-width:600px) {
    .galleryImageRow{
        width: 90%;
        column-count: 3;
        column-gap: 2.5rem;
    }
}

@media (min-width:800px) {
    .galleryImageRow{
        width: 80%;
    }
}

@media (min-width:900px) {
    .galleryImageRow{
        width: 70%;
    }
    
    .galleryImage {
        width: 90%;
    }
}