.navigationList {
    background: green;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    row-gap: 1rem;
    width: 80%;
}








/* .navigationList {
    width: calc(100% - 200px);
    background: green;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */