.formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.applicationForm {
    /* background: blue; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.formRow {
    width: 90%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    /* width: 100%; */
    /* display: grid; */
    /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
    /* gap: 1rem; */
}

@media (min-width:500px) {
    .applicationForm {
        width: 70%;
    }
}

@media (min-width:700px) {
    .applicationForm {
        width: 55%;
    }

}

@media (min-width:800px) {
    .applicationForm {
        width: 50%;
        /* background-color: purple; */
    }

    .formRow {
        width: 90%;
        /* background-color: pink; */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* row-gap: 2rem; */
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }
}

@media (min-width:1000px) {
    .meetingElectedForm {
        width: 40%;
    }
}