.calendarSection {
    width: 100%;
    display: flex;
    align-items: flex-start;
    background: var(--darkGrey);
}

.calendarSidebar {
    width: 30%;
    height: 100%;
    display: none;
}

.calendarEvents {
    background: var(--offWhite);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    row-gap: 2rem;
}

.extraEvents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* flex: ; */
    justify-content: space-evenly;
    row-gap: 2rem;
    /* background: green; */
}

@media (min-width: 900px) {
    .calendarSidebar {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }
    
    .calendarEvents {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .calendarSidebar {
        width: 25%;
    }
    
    .calendarEvents {
        width: 75%;
    }
}