.businessBlockLink {
    background: #eeeeee;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 2px var(--gold);
    box-shadow: var(--gold) 1px 1px 5px;
    padding: 2rem 0;
    row-gap: 1rem;
}

.businessLogoBlock {
    border-radius: 30px;
    width: 60%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--gold) solid 1px;
}

.businessBlockImage {
    width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 30px;
}

.businessDescBlock {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.businessNameLink {
    width: 100%;
    text-decoration: none;
}

.businessBlockName {
    width: 100%;
    color: var(--gold);
    font-size: 1.25rem;
}

.businessBlockDesc {
    font-size: 1rem;
    line-height: 1.5;
    border-top: solid var(--gold) 1px;
    padding-top: .8rem;
}

.businessContactBlock{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.businessContactBlockLink {
    border: solid var(--gold) .2px;
    width: 90%;
    padding: .5rem .5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    color: #000000;
    text-decoration: none;
    font-size: .875rem;
}

.contactIcon {
    color: var(--gold);
    min-width: 20px;
    min-height: 20px;
    margin-right: .2rem;
}

.viewProfile {
    width: 90%;
    background-color: #000000;
    color: var(--gold);
    text-decoration: none;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .businessContactBlock{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .businessContactBlockLink {
        width: 45%;
    }
}

@media (min-width: 800px) {
    .businessBlockLink {
        justify-content: space-evenly;
    }
    
    .businessLogoBlock {
        width: 15%;
    }
    
    .businessDescBlock {
        width: 50%;
    }
    
    .businessContactBlock{
        width: 20%;
    }
    
    .businessContactBlockLink {
        width: 90%;
    }
}