.featuredEventBlock {
    width: 90%;
    padding: 1rem 0;
    border: solid 2px var(--darkGold);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: var(--white);
    box-shadow: 0px 0px 30px #000000;
}

.featuredEventImage {
    object-fit: contain;
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.featuredEventDescBlock {
    width: 90%;
    padding: .5rem 0 1rem 0;
}

.featuredEventNameLink {
    text-decoration: none;
    color: var(--darkGold);
    text-align: center;
}

.featuredEventTimeList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featuredEventTimeItem {
    display: flex;
    align-items: center;
    padding: .1rem 0;
    column-gap: 2%;
    font-size: .9rem;
    font-weight: 800;
}

.featuredEventIcon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredEventAddressLink {
    display: flex;
    align-items: center;
    column-gap: 2%;
    color: var(--black);
    text-decoration: none;
}

.featuredEventDesciption {
    padding: .5rem 0;
}

.featuredEventActionBtn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .featuredEventBlock {
        padding: 2rem 0;
    }
    
    .featuredEventImage {
        object-fit: cover;
        height: 200px;
    }
}

@media (min-width:600px) {
    .featuredEventBlock {
        width: 80%;
    }
}

@media (min-width: 700px) {
    .featuredEventBlock {
        width: 90%;
        align-items: flex-start;
        justify-content: center;
    }
    
    .featuredEventImage {
        width: 35%;
        height: 280px;
    }
    
    .featuredEventDescBlock {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .featuredEventNameLink {
        width: 90%;
        text-align: left;
    }
    
    .featuredEventTimeList {
        width: 90%;
    }
    
    .featuredEventDesciption {
        width: 90%;
    }
    
    .featuredEventActionBtn {
        justify-content: flex-end;
    }
}

@media (min-width: 800px) {
    .featuredEventBlock {
        width: 90%;
        margin-bottom: 2rem;
    }

    .featuredEventImage {
        height: 330px;
    }
}

@media (min-width:900px) {
    .featuredEventImage {
        width: 30%;
        height: 250px;
    }

    .featuredEventDescBlock {
        width: 60%;
    }

    .featuredEventNameLink {
        text-decoration: none;
        color: var(--darkGold);
        text-align: center;
        line-height: 1.7rem;
    }
}

@media (min-width: 1000px) {
    .featuredEventImage {
        height: 230px;
    }

    .featuredEventNameLink {
        width: 90%;
        text-align: left;
    }
    
    .featuredEventTimeList {
        width: 90%;
    }
    
    .featuredEventDesciption {
        width: 90%;
    }
    
    .featuredEventActionBtn {
        justify-content: flex-end;
    }
}