.blImageRowSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.blImgRowImage {
    object-fit: cover;
    width: 60%;
    height: 120px;
}

@media (min-width: 400px) {
    .blImgRowImage {
        width: 50%;
        height: 150px;
    }
}

@media (min-width: 600px) {
    .blImgRowImage {
        width: 40%;
        height: 200px;
    }
}

@media (min-width: 800px) {
    .blImgRowImage {
        width: 33.33%;
        margin: 1.5rem 0;
        height: 250px;
    }
}

@media (min-width: 1000px) {
    .blImgRowImage {
        width: 33.33%;
        margin: 1.5rem 0;
        height: 280px;
    }
}

@media (min-width: 1200px) {
    .blImgRowImage {
        width: 33.33%;
        margin: 1.5rem 0;
        height: 300px;
    }
}

@media (min-width: 1400px) {
    .blImgRowImage {
        width: 33.33%;
        margin: 1.5rem 0;
        height: 320px;
    }
}