.categoryFilterSection {
    /* background: green; */
    width: 99.5%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--darkGold);
}

.categoryFilterForm {
    width: 90%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: scroll;
    /* justify-content: space-evenly; */
}

.categoryButton {
    min-width: fit-content;
    border: solid 1px var(--darkGold);
    padding: .5rem 1rem;
    border-radius: 8px;
}

.categoryActiveButton {
    background: var(--darkGold);
    color: var(--white);
    box-shadow: 1px 1px 10px #000000;
}

.categoryRadio {
    display: none; 
}