.reverendPageHero {
    width: 100%;
    height: 100svh;
    background-image: url(/assets/reverendmobilebackground.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.reverendHeroBlock{
    width: 90%;
    color: #ffffff;
    font-size: 1.7rem;
    text-shadow: #000000 3px 3px 5px;
    text-align: center;
}

.reverendJesseTextSection {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2rem 0 3rem 0;
    row-gap: 2rem;
}

.reverendJesseArticle {
    width: 90%;
}

.reverendJesseVideoBlock {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:400px) {
    .reverendHeroBlock {
        font-size: 2.2rem;
    }
}

@media (min-width:700px) {
    .reverendPageHero {
        height: 400px;
        background-image: url(/assets/reverendpagetitleimage.webp);
        align-items: center;
        justify-content: flex-start;
    }
    
    .reverendHeroBlock{
        width: 70%;
    }

    .reverendJesseArticle {
        width: 55%;
        padding: 0 1rem;
    }
    
    .reverendJesseVideoBlock {
        width: 40%;
    }
}

@media (min-width:800px) {
    .reverendPageHero {
        height: 350px;
    }
    
    .reverendHeroBlock{
        width: 60%;
        margin-left: 2rem;
    }

    .reverendJesseArticle {
        width: 55%;
    }
    
    .reverendJesseVideoBlock {
        width: 40%;
    }
}

@media (min-width:900px) {
    .reverendJesseArticle {
        width: 50%;
    }
    
    .reverendJesseVideoBlock {
        width: 35%;
    }
}

@media (min-width:1000px) {
    .reverendHeroBlock{
        width: 60%;
        margin-left: 4rem;
    }

    .reverendJesseArticle {
        width: 45%;
        padding: 0 1.5rem;
    }
}