.tierBlock {
    width: 80%;
    border: solid 1px #3e3e3e;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tierPrice {
    width: 90%;
    font-size: 1.802rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tierPriceCurrency {
    font-size: 0.889rem;
}

.tierTitle {
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 800;
}

.tierSponsorDate {
    margin-top: 1rem;
}

.tierList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

.tierItem {
    padding: .5rem 0;
    width: 90%;
    display: flex;
    align-items: center;
}

.tierIcon {
    min-width: 10px;
    margin-right: .5rem;
}

@media (min-width: 400px) {
    .tierBlock {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .tierBlock {
        width: 30%;
        margin: 0;
        height: 900px;
    }

    .tierBlock:first-child,
    .tierBlock:last-child {
        height: 850px;
    }
    
    .tierTitle {
        width: 70%;
        text-align: center;
    }
}

@media (min-width: 700px) {
    .tierBlock {
        height: 800px;
    }

    .tierBlock:first-child,
    .tierBlock:last-child {
        height: 730px;
    }
    
    .tierTitle {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .tierBlock {
        height: 780px;
    }

    .tierBlock:first-child,
    .tierBlock:last-child {
        height: 700px;
    }
    
    .tierTitle {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .tierBlock {
        height: 750px;
    }
}

@media (min-width: 1000px) {
    .tierBlock {
        height: 740px;
    }

    .tierBlock:first-child,
    .tierBlock:last-child {
        height: 680px;
    }
}

@media (min-width: 1100px) {
    .tierBlock {
        height: 680px;
    }

    .tierBlock:first-child,
    .tierBlock:last-child {
        height: 630px;
    }
}