.tierContainer {
    width: 80%;
    position:relative;
}

.tierBlock {
    width: 100%;
    border: solid 1px #3e3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.tierPrice {
    width: 90%;
    font-size: 1.802rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tierPriceCurrency {
    font-size: 0.889rem;
}

.tierTitle {
    width: 70%;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: 1.125rem;
    font-weight: 800;
    text-align: center;
}

.tierSponsorDate {
    margin-top: 1rem;
}

.tierhighlight {
    margin-top: 1rem;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tierList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

.popUpTierList {
    width: 80%;
    max-height: 50shv;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

.tierItem {
    margin: .5rem 0;
    width: 90%;
    display: flex;
    align-items: center;
}

.popUpTierItem {
    width: 90%;
    margin: .5rem 0;
}

.tierIcon {
    min-width: 10px;
    margin-right: .5rem;
}

.tierCTAButton {
    background: var(--gold);
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    font-size: 1.266rem;
    color: #000000;
    font-weight: 600;
}

.inKindSponsorPopUpBlock {
    display: none;
}

.popUpOverlay {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    min-height: 100svh;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.inKindSponsorPopUp {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 50svh;
    max-height: 90svh;
    overflow-y: scroll;
    padding: 0 0 2rem 0;
    box-shadow: 10px 10px 20px #000000;
    border: solid #a1995f 8px;
    border-radius: 10px;
}

.inKindSponsorTitle {
    font-size: 1.602rem;
}

.closeButtonRow {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.closeButton {
    font-size: 1.2rem;
    padding: 1rem;
    background: transparent;
    border: none;
}

.inKindSponsorTitle {
    margin: 0;
}

.popUpText {
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
}

.applicationLink {
    width: 200px;
    background: #a1995f;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.125rem;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

@media (min-width: 400px) {
    .tierContainer {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .tierContainer {
        width: 32%;
        margin: 0;
        box-shadow: #3e3e3e 5px 5px 10px;
    }

    .tierContainer:first-child,
    .tierContainer:last-child {
        transform: translateY(20px);
        box-shadow: none;
    }

    .tierPrice {
        margin: 1rem 0;
    }

    .tierTitle {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
    }
    
    .tierhighlight {
        height: 80px;
    }

    .tierList {
        min-height: 380px;
    }

    .tierItem {
        text-wrap: balance;
        height: 80px;
    }

}

@media (min-width: 700px) {
    .tierBlock {
        padding: 2rem 0;
    }

    .tierhighlight {
        height: 50px;
    }

    .tierItem {
        height: 70px;
    }
}

@media (min-width: 800px) {
    .tierBlock {
        padding: 2rem 0;
    }
    
    .tierhighlight {
        height: 50px;
        width: 90%;
    }

    .tierItem {
        text-wrap: initial;
        height: 70px;
    }

    .tierIcon {
        margin-right: 1rem;
    }
}

@media (min-width: 800px) {
    .tierTitle {
        height: 50px;
    }
    
    .tierhighlight {
        margin-top: 2rem;
        height: 60px;
    }
}

@media (min-width: 1000px) {
    .tierList {
        min-height: 300px;
    }

    .tierItem {
        margin: .8rem 0;
        height: 50px;
    }
}