:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: #c7ac38;
  --grey: #cacaca;
  --darkGrey: #373636;
  --overlay: #000000d6;
  --overlayLight : #00000059;
  --goldOverlay:#b29a2dd1; 
  /* bcom brand kit */
  --white: #ffffff; 
  --offWhite: #e1dfdc;
  --black: #090b09;
  --lightGold: #d0b43c;
  --darkGold: #b59c2c;
}

@font-face {
  font-family: "Arboria";
  src: url(/font/Arboria/Arboria_Black.otf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(/public/font/Roboto/static/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/public/font/Roboto/static/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/public/font/Roboto/static/Roboto-Regular.ttf);
}

html {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalMainHeading {
  font-size: 2.027rem;
  font-family: "Arboria";
  width: 90%;
  text-transform: capitalize;
  margin: 0;
  text-align: center;
}

.globalSecondHeading {
  font-size: 1.802rem;
  font-family: "Arboria";
  margin: .5rem 0 1rem 0;
  width: 90%;
  text-align: center;
}

.globalThirdHeading {
  font-size: 1.402rem;
  margin: .5rem 0;
  font-family: "Roboto-Medium";
  width: 90%;
  text-align: center;
}

.globalText {
  width: 90%;
  font-size: 1.1rem;
  font-family: "Roboto-Regular";
  letter-spacing: .02rem;
  line-height: 1.1;
  margin: .5rem 0;
  text-align: center;
}

.globalSmallText {
  width: 90%;
  font-family: "Roboto-Regular";
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

.globalXsmallText {
  font-family: "Roboto-Regular";
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.globalGoldButton,
.globalDarkButton {
  width: 200px;
  /* height: 30px; */
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: "Roboto-Bold";
  text-decoration: none;
  border: var(--lightGold) 2px solid;
}

.globalGoldButton {
  background-color: var(--lightGold);
  color: var(--black);
}

.globalDarkButton {
  background: transparent;
  color: var(--lightGold);
}

.globalBlackButton {
  background: var(--black);
  color: var(--white);
  font-family: "Roboto-Bold";
  font-size: 1.2rem;
  letter-spacing: 1.1;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 8px;
}

.globalContactIcon {
  width: 20px;
  height: 20px;
}

@media (min-width:300px) {
  .globalGoldButton,
  .globalDarkButton {
    width: 280px;
  }
}

@media (min-width:400px) {
  .globalMainHeading {
    font-size: 2.986rem;
  }
  
  .globalSecondHeading {
    font-size: 2.488rem;
  }
  
  .globalThirdHeading {
    font-size: 1.728rem;
  }

  .globalGoldButton,
  .globalDarkButton {
    width: 350px;
  }
}

@media (min-width:600px) {
  .globalGoldButton,
  .globalDarkButton {
    width: 30%;
  }
}

@media (min-width:700px) {
  .globalMainHeading {
    font-size: 3.052rem;
    text-align: left;
  }
  
  .globalSecondHeading,
  .globalThirdHeading,
  .globalText {
    text-align: left;
  }
  
  .globalGoldButton,
  .globalDarkButton {
    width: 28%;
  }
}

@media (min-width:850px) {
  .globalGoldButton,
  .globalDarkButton {
    width: 25%;
    /* padding: 1rem; */
  }
}

@media (min-width:1000px) {
  .globalMainHeading {
    font-size: 3.815rem;
  }
}