.memberTiersSection {
    padding: 4rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--white);
}

.preheading {
    color: var(--darkGold);
    width: 90%;
    font-weight: 800;
}

.featureTierRow{
    width: 100%;
    background-image: url('/assets/members-of-bcom-3.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
    margin: 2rem 0;
}

.testimonyRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonyBlock {
    background: var(--grey);
    width: 70%;
    margin: 5rem 0 8rem 0;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000000;
}

.testimony {
    font-style: italic;
    text-align: center;
}

.testimonyPerson {
    text-align: center;
}

.tierImageRow {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.tierImage {
    width: 50%;
    height: auto;
    object-fit: contain;
}