.pageHeroSection {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    position: relative;
}

.headerLogo {
    width: 20%;
}

.mobileNavMenuButton {
    margin-right: .5rem;
    border: none;
    background: transparent;
}

@media (min-width:600px) {
    .header {
        /* width: 100%; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
        padding: .1rem 0;
        /* position: relative; */
    }
    
    .headerLogo {
        width: 10%;
        background: yellow;
    }

    .mobileNavMenuButton {
        display: none;
    }
}

@media (min-width:1280px) {
    .headerLogo {
        width: 10%;
    }
    
    .mobileNavMenuButton {
        display: none;
    }
    
    .headerNav {
        width: auto;
        gap: 1.5rem;
        display: flex;
        flex-direction: row;
        margin-right: .5rem;
    }

    .headerGoldButton {
        width: 120px;
        padding: .5rem .2rem;
    }
    
    .navList {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.5rem;
    }
    
    .navItem {
        width: fit-content;
        align-items: center;
        gap: 10px;
        position: relative;
    }
    
    .navSubList {
        position: absolute;
        top: 25px;
    }
}

/* form css from here */
.formSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.form {
    width: 80%;
    background-color: purple;
}