.mlkHeroSection {
    background-image: url(/blog/mlk/mlk-hero-mobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 480px;
    color: #ffffff;
    -webkit-text-stroke: #000000 .8px;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mlkMainHeading {
    width: 95%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.subHeading {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
}

@media (min-width: 400px) {
    .mlkHeroSection {
        background-color: #000000;
        background-size: contain;
    }
    
    .mlkMainHeading {
        width: 90%;
    }    
}

@media (min-width: 600px) {
    .mlkMainHeading {
        width: 85%;
        font-size: 2rem;
    }
    
    .subHeading {
        font-size: 1.5rem;
    }
}

@media (min-width: 800px) {
    .mlkHeroSection {
        background-image: url(/blog/mlk/mlk-hero-desktop.webp);
        background-size: cover;
        height: 70svh;
        align-items: flex-start;
        justify-content: center;
    }
    
    .mlkMainHeading {
        width: 50%;
        margin-left: 3rem;
        text-align: left;
    }
    
    .subHeading {
        width: 50%;
        margin-left: 3rem;
        text-align: left;
    }
}

@media (min-width: 1000px) {
    .mlkMainHeading {
        font-size: 2.5rem;
    }
    
    .subHeading {
        font-size: 2rem;
    }
}