.mlkQuoteSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background: grey;
    /* background-image: url(/blog/mlk/mlk-quote-banner.webp); */
    background-position: center;
    background-size: cover;
}

.mlkQuoteBlock {
    width: 80%;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--gold) 2px;
    border-radius: 10px;
    font-weight: 800;
}

.mlkQuoteBlock p {
    width: 80%;
    font-size: 1rem;
}

.mlkQuoteBlock p span {
    font-style: italic;
}