.mlkSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mlkText,
.mlkTextItalic {
    width: 90%;
    font-size: 1rem;
    line-height: 1.1;
}

.mlkTextItalic {
    font-style: italic;
}

@media (min-width: 600px) {
    .mlkText,
    .mlkTextItalic {
        font-size: 1.1rem;
    }
}

@media (min-width: 800px) {
    .mlkText,
    .mlkTextItalic {
        font-size: 1.2rem;
    }
}