.logoBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    object-fit: contain;
    width: 80%;
    height: auto;
}

@media (min-width:450px) {
    .logo {
        width: 70%;
    }
}