.footer {
    background: var(--black);
    background-image: url('/assets/footerbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    padding: 4rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.footerLeftBlock,
.footerRightBlock {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogoBlock {
    width: 90%;
}

.footerRightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContactRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1.5rem;
    padding: 1.5rem 0;
}

.footerContactLink {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    width: 70%;
    column-gap: 5%;
}

.footerContactLinkIcon {
    min-width: 10px;
}

.footerNavRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    padding: 1rem 0;
}

.footerNavLink {
    width: 40%;
    text-decoration: none;
    color: var(--white);
    padding: .5rem 0;
    text-align: center;
}

.socialBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    row-gap: 1.5rem;
}

.socialLink {
    margin: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #ffffff 1px solid;
    border-radius: 20px;
    padding: .8rem;
}

.socialIcon {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerEnd {
    width: 90%;
    text-align: center;
    color: #ffffff;
}

@media (min-width:500px) {
    .footerLogoBlock {
        width: 70%;
    }
}

@media (min-width:700px) {
    .footerLogoBlock {
        width: 50%;
    }
}

@media (min-width:800px) {
    .footerLeftBlock,
    .footerRightBlock {
        width: 45%;
    }
}