.inKindSponsorSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inKindSponsorHeading {
    /* background-color: pink; */
    font-size: 1.802rem;
    width: 90%;
    text-align: center;
}

.inKindSponsorText {
    width: 90%;
    font-size: 1rem;
    text-align: center;
}

