.catBlock {
    background: var(--white);
    width: 80%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 1rem 0 2rem 0;
    border: solid 2px var(--darkGold);
    border-radius: 10px;
}

.catStar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.catLogo {
    width: 80%;
    max-height: 150px;
    height: auto;
    object-fit: contain;
}

.catName {
    width: 90%;
    text-align: center;
    display: flex;
    flex: 1 1 80px;
    align-items: center;
    justify-content: center;
    margin: .2rem 0;
}

.catText {
    width: 90%;
    margin-bottom: .5rem;
    min-height: 100px;
}

.catDateTimePrice {
    width: 90%;
}

.catList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.catItem {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 900;
    column-gap: 2%;
}

.catIcon {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

@media (min-width:600px) {
    .catBlock {
        width: 90%;
    }
}

@media (min-width:700px) {
    .catBlock {
        width: 48%;
    }
}

@media (min-width:800px) {
    .catBlock {
        width: 330px;
    }

    .catName {
        height: fit-content;
    }
}

@media (min-width:900px) {
    .catName {
        line-height: 1.7rem;
    }

    .catItem {
        padding: .1rem 0;
    }
}