.resourceContentBlock {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    border-radius: 10px;
    border: var(--darkGold) 2px solid;
}

.resourceContentBlockImage {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.offeringBlock {
    width: 90%;
    padding: 0 0 .5rem 0;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    border: solid var(--grey) 1px;
    padding: .2rem;
    margin-bottom: .5rem;
}

.offerTag {
    padding: .2rem .5rem;
    border-radius: 5px;
    color: #ffffff;
}

.serveBlock {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.serveItem {
    border: 1px solid var(--darkGrey);
    padding: .2rem;
    border-radius: 5px;
}

.readButtonRow {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.readButton {
    background: var(--black);
    padding: .8rem 1.2rem;
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
}

@media (min-width:600px) {
    .resourceContentBlock {
        max-width: 280px;
    }
    
    .serveBlock {
        margin-bottom: 1rem;
    }
    
    .readButtonRow {
        margin-top: auto;
    }
}

@media (min-width:700px) {
    .resourceContentBlock {
        max-width: 320px;
    }
}

@media (min-width:800px) {
    .resourceContentBlock {
        max-width: 350px;
    }
}