.resourceContentBlock {
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-radius: 10px;
    border: var(--darkGold) 2px solid;
}

.resourceContentBlockImage {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.offeringBlock {
    width: 90%;
    padding: 0 0 .5rem 0;
    /* background: purple; */
}

.offer {
    /* width: 100%; */
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    border: solid var(--grey) 1px;
    padding: .2rem;
    margin-bottom: .5rem;
}

.offerTag {
    padding: .2rem .5rem;
    border-radius: 5px;
    background: blue;
    color: #ffffff;
}

.serveBlock {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    /* background-color: green; */
}

.serveItem {
    border: 1px solid var(--darkGrey);
    padding: .2rem;
    border-radius: 5px;
}

.readButtonRow {
    /* background: green; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: .5rem 0; */
    margin-top: .5rem;
}

.readButton {
    background: var(--black);
    padding: .8rem 1.2rem;
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
}