.textInputBlock {
    width: 100%;
    min-width: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.textInputLabel {
    display: block;
    margin-bottom: 0.4rem;
}

.textInput {
    width: 100%;
    box-sizing: border-box;
}

.requiredStar {
    color: red;
    margin-left: .3rem;
}

.errorMessage {
    color: red;
    margin-top: -0.5rem;
    text-align: left;
}