.directoryListSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: var(--offWhite);
    padding: 2rem 0 3rem 0;
    row-gap: 2rem;
    column-gap: 5%;
}

.resultCount {
    width: 90%;
}
