.directoryPageHero {
    width: 100%;
    min-height: 400px;
    background-image: url(/assets/pagetitleimage.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.directoryPageTitle {
    color: #ffffff;
}

.directorySearchBlock {
    width: 80%;
    background: var(--overlay);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 10px;
}

.directoryFieldset {
    width: 80%;
    border: var(--gold) 1px solid;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 2rem;
    padding: 2rem 0;
}

.directoryFieldsetLegend {
    color: var(--gold);
    font-weight: 800;
}

.directorySearchInput,
.directorySearchSelect {
    background-color: #ffffff;
    border: solid #3e3e3e 1px;
    border-radius: 5px;
    position: relative;
    color: #000000;
    padding: .5rem;
    font-size: 1rem;
}

.directorySearchInput {
    width: 70%;
}

.directorySearchSelect {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.directoryDropdown {
    margin-top: -2rem;
    background-color: #ffffff;
    width: 65%;
    height: 250px;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: scroll;
}

.categoryLink {
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.hide {
    display: none;
}

.directorySearchButton {
    background-color: var(--goldOverlay);
    color: #000000;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
}

@media (min-width: 400px) {
    .directoryDropdown {
        width: 68%;
    }
}

@media (min-width: 500px) {
    .directoryDropdown {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .directoryDropdown {
        width: 71%;
    }
}

@media (min-width: 800px) {
    .directoryFieldset {
        position: relative;
        width: 95%;
    }

    .directorySearchInput {
        width: 33%;
    }
    
    .directorySearchSelect {
        width: 33%;
    }
    
    .directoryDropdown {
        position: absolute;
        top: 110px;
    }
    
    .directorySearchButton {
        width: 18%;
        padding: .5rem 0;
    }
}

@media (min-width: 900px) {
    .directoryDropdown {
        top: 100px;
        width: 75%;
    }
    
    .directorySearchButton {
        width: 18%;
        padding: .5rem 0;
    }
}