.mainHeroSection {
    position: relative;
    width: 100%;
    height: 60svh;
}

.backgroundImage {
    width: 100dvw;
    height: 100%;
    object-fit: cover;
}

.mainHeroOverlay {
    position: absolute;
    background: #000000be;
    color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroMainHeading {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
}

.heroSubHeading {
    width: 80%;
    text-align: center;
    font-size: 1.125rem;
}

.heroCtaRow {
    padding: 2rem 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1%;
}

.mainCtaBtn,
.secondCtaBtn {
    width: 250px;
    text-decoration: none;
    text-align: center;
    padding: .5rem 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.125rem;
}

.mainCtaBtn {
    background: var(--gold);
    color: #000000;
}

.secondCtaBtn {
    border: var(--gold) solid 1px;
    color: var(--gold);
}

@media (min-width: 400px) {
    .heroMainHeading {
        font-size: 1.75rem;
    }

    .heroSubHeading {
        font-size: 1.25rem;
    }

    .mainCtaBtn,
    .secondCtaBtn {
        font-size: 1.25rem;
    }
}

@media (min-width: 600px) {
    .heroMainHeading {
        font-size: 2rem;
    }

    .heroSubHeading {
        font-size: 1.5rem;
        margin: 0;
    }

    .mainCtaBtn,
    .secondCtaBtn {
        font-size: 1.375rem;
    }
}

@media (min-width: 800px) {
    .mainHeroSection {
        height: 70svh;
    }

    .heroMainHeading {
        width: 80%;
        font-size: 2.5rem;
        text-align: left;
    }

    .heroSubHeading {
        width: 80%;
        font-size: 1.75rem;
        margin: 0;
        text-align: left;
    }

    .heroCtaRow {
        width: 80%;
        justify-content: flex-start;
    }

    .mainCtaBtn,
    .secondCtaBtn {
        width: 250px;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .mainHeroSection {
        height: 80svh;
    }

    .heroMainHeading {
        font-size: 3rem;
    }

    .heroSubHeading {
        font-size: 2rem;
    }

    .mainCtaBtn,
    .secondCtaBtn {
        width: 350px;
        font-size: 1.75rem;
    }
}