.membersPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membersBanner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #000000;
    border-bottom: var(--gold) solid 5px;
    padding: 1rem 0 2rem 0;
}

.membersTitle {
    width: 90%;
    color: var(--gold);
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberBadgeRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem;
}

.memberBadge {
    object-fit: contain;
    width: 60%;
    height: auto;
}

.membersLogo {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.membersContactBlock {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.memberContactLink {
    text-decoration: none;
    color: var(--gold);
}

.memberContactLinkText {
    display: none;
}

.membersDescriptionBlock {
    width: 90%;
}

.socialRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.socialLink {
    text-decoration: none;
}

.memberSocialIcon {
    color: var(--gold);

}

.profileDescriptionBlock {
    padding-bottom: 2rem;
}

.longBusinessDescription {
    font-size: 1.2rem;
    line-height: 1.2;
}


@media (min-width: 600px) {
    .memberBadgeRow {
        order: 1;
        width: 25%;
    }
    
    .memberBadge {
        width: 80%;
    }

    .membersTitle {
        order: 2;
        width: 70%;
    }
    
    .membersLogo {
        order: 3;
        width: 50%;
    }
    
    .membersContactBlock {
        order: 4;
        width: 10%;
        row-gap: 1rem;
    }
    
    .memberContactLink {
        width: 80%;
    }    
}

@media (min-width: 800px) {
    .membersLogo {
        width: 35%;
    }
    
    .membersContactBlock {
        width: 45%;
    }
    
    .memberContactLink {
        display: flex;
        align-items: center;
    }

    .memberContactIcon {
        min-width: 25px;
        min-height: 25px;
        margin-right: .5rem;
    }

    .memberContactLinkText {
        display: initial;
    }
    .profileDescriptionBlock {
        padding-bottom: 3rem;
    }
}

@media (min-width: 1000px) {
    .membersLogo {
        width: 30%;
    }    
    .profileDescriptionBlock {
        padding-bottom: 4rem;
    }
}


@media (min-width: 1200px) {
    .membersLogo {
        width: 25%;
    }    
}