.mtenGoalsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: var(--grey);
    padding: 3rem 0;
    row-gap: 1rem;
}

.mtenGoalsImage {
    object-fit: contain;
    width: 90%;
    height: auto;
}

.mtenGoalsCaption {
    width: 90%;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5;
}

@media (min-width: 400px) {
    .mtenGoalsCaption {
        font-size: 0.9375rem;
    }
}

@media (min-width: 600px) {
    .mtenGoalsImage {
        width: 45%;
    }
    
    .mtenGoalsCaption {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .mtenGoalsCaption {
        font-size: 1.0625rem;
    }
}

@media (min-width: 1000px) {
    .mtenGoalsCaption {
        font-size: 1.125rem;
    }
}