.newMemberOrientationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newMemberHero {
    background-image: url(/assets/memphistenherobackground.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newMemberHeroTitle {
    color: #ffffff;
    width: 90%;
    text-align: center;
}

.nmoSection {
    width: 85%;
    padding: 2rem 0;
}

.nmoHeading {
    font-size: 1.5rem;
}

.nmoHeading3 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.nmoText {
    font-size: 1rem;
    line-height: 1.2;
}

.nmoList {
    padding: 0 1rem;
}

.nmoItem {
    padding: .2rem 0;
}

.nmoLinkRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.nmoLink,
.nmoLinkLong {
    width: 85%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gold);
    font-size: 1.1rem;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    font-weight: 900;
    text-wrap: balance;
    text-align: center;
}

@media (min-width:400px) {
    .nmoList {
        padding: 0 1.5rem;
    }
}

@media (min-width:600px) {
    .nmoLinkRow {
        column-gap: 5%;
    }
    
    .nmoLink {
        width: 40%;
    }

    .nmoLinkLong {
        width: 90%;
    }
}