.resourcesBodySection {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.resourcesTopFilterRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0 .9rem .5rem;
    column-gap: 20px;
    border: solid 8px var(--darkGold);
    overflow-x: scroll;
    position: relative;
}

.resourcesMainCatButton {
    border: solid var(--darkGold) 2px;
    background: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.resourcesSubCatBlock {
    width: 250px;
    top: 0;
    background: var(--darkGrey);
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    z-index: 999;
    display: none;
}

.resourcesSideBar { 
    background: var(--darkGrey);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.hide {
    display: none;
}


.subCatBlock{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    row-gap: 1rem;
    border: var(--darkGold) solid 1px;
    border-radius: 10px;
}

.subCatBtn {
    background: none;
    border: none;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.extraTopicButtonsBlock {
    display: none;
}

.resourcesInformationBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 1rem 0;
    gap: 5px;
    row-gap: 1rem;
}

@media (min-width:400px) {
    .resourcesSideBar { 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
    
    .subCatBlock{
        width: 30%;
    }

    .extraTopicButtonsBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: .5rem;
    }

    .extraTopicDetail {
        background: #eeeeee;
        border-radius: 8px;
    }

    .extraTopicSummary {
        background: var(--darkGrey);
        color: var(--white);
        list-style: none;
        border: solid var(--darkGold) 2px;
        border-radius: 5px;
        padding: .5rem;
        font-size: 1rem;
    }

    .extraTopicTextBlock {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        padding: .5rem 0;
    }

    .extraTopicButton {
        background: none;
        border: none;
        width: fit-content;
    }
}

@media (min-width:600px) {
    .extraTopicButtonsBlock {
        width: 40%;
    }
}

@media (min-width:700px) {
    .extraTopicButtonsBlock {
        width: 30%;
    }
}

@media (min-width:900px) {
    .resourcesBodySection {
        background: var(--darkGrey);
    }
    
    .resourcesTopFilterRow {
        background: var(--white);
    }
    
    .resourcesSideBar { 
        width: 150px;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        padding: 1.5rem 0;
    }
    
    .subCatBlock{
        width: 80%;
    }
    
    .extraTopicButtonsBlock {
        width: 80%;
        row-gap: 1rem;
    }

    .resourcesInformationBlock {
        width: calc(100dvw - 150px);
        background: var(--white);
        padding: 1.5rem 0;
    }
}

@media (min-width:1000px) {
    .resourcesSideBar { 
        width: 25%;
    }
    
    .resourcesInformationBlock {
        width: 75%;
    }
}