.SearchBarSection {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    padding: .5rem;
    font-size: 1.25rem;
    width: 100%;
    border: var(--gold) solid 2px;
    border-radius: 5px;
}

@media (min-width: 800px) {
    .SearchBarSection {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .SearchBarSection {
        width: 60%;
    }
}