.stayInformedForm {
    position: relative;
    z-index: 200;
    width: 85%;
    background: var(--grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

.stayInformedInput {
    width: 80%;
    margin: .5rem 0;
    font-size: 1rem;
    line-height: 1.8;
    border-radius: .3rem;
    padding-left: .5rem;
}

.stayInformedButton {
    background: var(--lightGold);
    border: var(--darkGold) solid 1px;
    color: var(--black);
    margin: .5rem 0;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: 800;
}

@media (min-width: 400px) {
    .stayInformedInput {
        font-size: 1.25rem;
    }
}

@media (min-width: 600px) {
    .stayInformedForm {
        width: 70%;
    }
}