.threePillarSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #000000;
    padding: 1rem 0 3rem 0;
    row-gap: 1rem;
    column-gap: 1%;
}

.threePillarHeading {
    width: 90%;
    text-align: center;
    color: var(--gold);
    font-size: 1.25rem;
    margin-bottom: 0;
}

.threePillarIntroParagraph {
    color: #ffffff;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    margin: 0.5rem 0;
}

.pillarBlock {
    width: 90%;
    background: var(--gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
    padding: 2rem 0;
    border-radius: 20px;
}

.pillarBlockTitle {
    font-size: 1.25rem;
    margin: 0;
}

.pillarBlockCaption {
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.3;
}

.pillarList {
    width: 70%;
    margin: .5rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

@media (min-width: 400px) {
    .threePillarHeading {
        font-size: 1.5rem;
    }
    
    .pillarBlockTitle {
        font-size: 1.5rem;
    }
    
    .pillarBlockCaption {
        font-size: 0.9375rem;
    }   
    
    .pillarList {
        width: 45%;
    }
}

@media (min-width: 600px) {
    .threePillarHeading {
        font-size: 1.75rem;
    }
    
    .pillarBlockTitle {
        font-size: 1.75rem;
    }
    
    .pillarBlockCaption {
        font-size: 1rem;
    }    
}

@media (min-width: 800px) {
    .threePillarHeading {
        font-size: 2rem;
    }
    
    .pillarBlock {
        width: 30%;
        height: 250px;
    }
    
    .pillarBlockTitle {
        font-size: 2rem;
    }
    
    .pillarBlockCaption {
        font-size: 1.0625rem;
    }    


    .pillarList {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .threePillarHeading {
        font-size: 2.5rem;
    }

    .threePillarIntroParagraph {
        font-size: 1.2rem;
    }
    
    .pillarBlockTitle {
        font-size: 2.5rem;
    }
    
    .pillarBlockCaption {
        font-size: 1.125rem;
    }    

    .pillarBlock {
        width: 30%;
        height: 210px;
    }
}