.whoWeAreSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3rem;
    padding: 1rem 0;
}

.WhoWeAreTextBlockOne,
.WhoWeAreTextBlockTwo {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WhoWeAreHeading {
    color: var(--gold);
    margin: 0;
}

.whoWeAreText {
    font-size: 1rem;
    line-height: 1.5;
}

.WhoWeAreLinkButton {
    background: var(--gold);
    padding: .5rem 1rem;
    text-decoration: none;
    color: #ffffff;
}

.whoWeAreVideo,
.whoWeAreImage {
    width: 90%;
    height: 205;
}

.WhoWeAreTextBlockOne {
    order: 1;
}
.WhoWeAreTextBlockTwo {
    order: 3;
}

.whoWeAreVideo {
    order: 2;
}

.whoWeAreImage {
    object-fit: cover;
    order: 4;
}

@media (min-width: 400px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 255px;
    }
}

@media (min-width: 500px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 300px;
    }
}

@media (min-width: 600px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 355px;
    }
}

@media (min-width: 700px) {    
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 405px;
    }
}

@media (min-width: 800px) {
    .WhoWeAreTextBlockOne,
    .WhoWeAreTextBlockTwo {
        width: 45%;
        align-items: flex-start;
    }

    .whoWeAreVideo,
    .whoWeAreImage {
        width: 45%;
        height: 255px;
    }

    .WhoWeAreTextBlockOne {
        order: 1;
    }
    .WhoWeAreTextBlockTwo {
        order: 4;
    }
    
    .whoWeAreVideo {
        order: 2;
    }
    
    .whoWeAreImage {
        order: 3;
    }
}

@media (min-width: 1000px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 280px;
    }
}

@media (min-width: 1100px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 305px;
    }
}

@media (min-width: 1200px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 330px;
    }
}

@media (min-width: 1300px) {
    .whoWeAreVideo,
    .whoWeAreImage {
        height: 355px;
    }
}

@media (min-width: 1300px) {
    .WhoWeAreTextBlockOne,
    .WhoWeAreTextBlockTwo {
        width: 40%;
    }
    
    .whoWeAreVideo,
    .whoWeAreImage {
        width: 40%;
        height: 330px;
    }
}