.wordImageBlockSection,
.imageWordBlockSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding: 2rem 0 0 0;
}

.imageWordBlockSection {
    flex-direction: column-reverse;
}

.wordInformation {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordHeader {
    width: 100%;
    color: var(--gold);
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.wordParagraph {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
}

.wordBlockImage {
    object-fit: contain;
    width: 100%;
    height: auto;
}

@media (min-width: 400px) {
    .wordHeader {
        font-size: 1.5rem;
    }

    .wordParagraph {
        font-size: 0.9375rem;
    }

    .wordBlockImage {
        object-fit: cover;
        height: 350px;
    }
}

@media (min-width: 600px) {
    .wordHeader {
        font-size: 1.75rem;
    }

    .wordParagraph {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .wordImageBlockSection,
    .imageWordBlockSection {
        justify-content: space-between;
        padding: 0;
    }

    .imageWordBlockSection {
        flex-direction: row;
    }

    .wordInformation {
        width: 65%;
        margin-left: 2rem;
    }

    .wordHeader {
        width: 95%;
        font-size: 1.75rem;
        margin: 0;
    }

    .wordParagraph {
        width: 95%;
        font-size: 1rem;
    }

    .wordBlockImage {
        width: 30%;
        height: 630px;
    }
}

@media (min-width: 1000px) {
    .wordHeader {
        font-size: 1.75rem;
        margin-top: 1rem;
    }

    .wordParagraph {
        font-size: 1.1rem;
    }

    .wordBlockImage {
        height: 580px;
    }
}